{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "loose": true,
        "forceAllTransforms": true,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
